*{padding: 0; margin: 0;}

$color1: #1A5D1A;
$color2: #F1C93B;

@mixin smallScreen{
  @media (max-width: 1250px){ 
    @content;
  }
}


.main{
  background-color: $color1;

  .container{

    @include smallScreen {width: 100%;}

    width: 1250px; height: 100vh;
    margin: 0 auto;
    

    .roulette{
      display: flex; justify-content: center; align-items: center;
      flex-direction: column;
      height: 100%;

      

      .result{
        
        width: 100%; height: 100px;
        @include smallScreen {width: calc(100% - 20px); margin: 0 10px;}
        border-radius: 5px;
        font-size: 24px; font-weight: bold;
        text-align: center;
        background-color: #fff;
        display: flex;
        align-items: center; justify-content: center;

        // .result-monitor{padding: 10px 20px;}


        
      }

      .btn-zone{
        display: flex;
        button{
          display: block;
          padding: 10px 20px; border-radius: 5px;
          background-color: $color2; border: none;
          cursor: pointer; transition: 0.1s;
          &:hover{background-color: black; color: white;}
          margin: 30px 10px 0 10px;
        }
      }


    }
  }

  .full-modal{

    width: 100%; height: 100vh;
    position: fixed; top: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex; justify-content: center; align-items: center;

    z-index: -1; opacity: 0;

    .custom{

      width: 80%; padding: 20px;
      background-color: $color2; border-radius: 10px;
      display: flex; flex-direction: column;
      justify-content: center; align-items: center;

      .mission-list{

        width: 50%;
        display: flex; align-items: center;
        flex-direction: column;

        textarea{
          width: 100%; height: 80vh;
          padding: 20px; border-radius: 10px;
        }

      }

      button{
        svg{margin-right: 5px;}
        padding: 5px 10px; margin: 5px 0;
        background-color: $color1; border: 1px solid black;
        color: white; border-radius: 5px;
        cursor: pointer; transition: 0.1s;
        &:hover{background-color: white; color: black;}
        display: inline;
      }
      button.add{margin-right: 10px;}
    }
    

  }
}